// 颜色
$body-bg:                   #fff;
$brand-primary:             #1c81f5;
$text-color:                #3f3f3f;
$header-text-color:         #fff;
$link-color:                #999;
$link-hover-color:          $brand-primary;

// 字体
$font-size-small-s:  10px;
$font-size-small:    12px;
$font-size-base:     14px;
$font-size-base-x:   16px;
$font-size-large:    18px;
$font-size-large-x:  20px
